html,
body {
	margin: 0;
	padding: 0;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  @include font-smooth(antialiased);
  font-weight: 300;
  text-align: center;
}

h1 {
  margin: 0 auto;
  font-size:2.3em;
  padding:2em 0;
}

form {
  label {
    font-size:1.3em;
    padding-right:20px;
  }
  select {
    font-size:1.3em;
    background: white;
    height: 40px;
    border: 1px solid #ccc;
    width: 80px;
    &:focus {
      outline:none;
    }
  }
}

.ideogram-container {
  @include flex-box(column,center,center);
  svg {
    path {
      @include transition(all 0.3);
      stroke: #ccc;
      &:hover {
        fill-opacity: .5;
        stroke:white;
      }
    }
  }
}

text {
  text-anchor:middle;
  &#tooltip {
    position: absolute;
    background:#ccc;
    font-size:1.3em;
    display:none;
    pointer-events: none;
    &.show {
      display: block;
    }
  }
}