html,
body {
	margin: 0;
	padding: 0;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
  text-align: center;
}

h1 {
  margin: 0 auto;
  font-size:2.3em;
  padding:2em 0;
}

form {
  label {
    font-size:1.3em;
    padding-right:20px;
  }
  select {
    font-size:1.3em;
    background: white;
    border: none;
    //background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
    height: 40px;
    border: 1px solid #ccc;
    width: 80px;
    &:focus {
      outline:none;
    }
  }
}

.ideogram-container {
  @include flex-box(column,center,center);
  svg {
    path {
      -moz-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      stroke: #ccc;
      &:hover {
        stroke:orange;
      }
    }
  }
}

#tooltip {
  position: absolute;
  //width: 90px;
  //height: auto;
  background:#ccc;
  //padding: 10px;
  //background-color: white;
  display:none;
  pointer-events: none;
  &.show {
    display: block;
  }
}